@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Mono", monospace;
    @apply bg-gray-900 text-white;
}

h1 {
    @apply font-bold text-2xl;
}
